*.o
.DS_Store
Makefile.vars
test/msgtest
test/client_test
ca_cert.pem
ca_key.pem
cpdlcd/cpdlcd
cpdlcd/cpdlcd_*.pem
cpdlcd/test.conf
cpdlcd/test.userlist
test/cpdlc_cert.pem
fansgui/client.conf
fansgui/cpdlc_cert.pem
fansgui/fansgui
fansgui/fansgui.exe
fansgui/fansgui.res
fansgui/fansgui-win-64.zip
fansgui/fansgui-linux-64.tar.gz
fansgui/fansgui-linux-64
fansgui/fansgui-mac-64
fansgui/fansgui-win-64
fansgui/fansgui-mac-64.dmg
fansgui/user.conf
fansgui/zmq/zeromq-4.3.1
fansgui/zmq/zeromq-linux-64
fansgui/zmq/zeromq-mac-64
fansgui/zmq/zeromq-win-64
fansgui/xp-plugin/CMakeCache.txt
fansgui/xp-plugin/CMakeFiles
fansgui/xp-plugin/Makefile
fansgui/xp-plugin/cmake_install.cmake
fansgui/xp-plugin/fans-xplane.plugin
fansgui/xp-plugin/libfans-xplane.plugin.xpl.dll.a
fansgui/AuditInfo.json
fansgui/ExportOptions.plist
fansgui/Makefile.user
fansgui/RequestInfo.plist
fansgui/UploadInfo.plist
test/build/CMakeCache.txt
test/build/CMakeFiles/
test/build/Makefile
test/build/client_test
test/build/cmake_install.cmake
test/build/msgtest
gmp-6.2.0
gnutls-3.6.11.1
nettle-3.5
libwebsockets-3.1.0
cpdlc_atc/build/CMakeCache.txt
cpdlc_atc/build/CMakeFiles
cpdlc_atc/build/Makefile
cpdlc_atc/build/cmake_install.cmake
cpdlc_atc/build/cpdlc_atc
doc/format/format.aux
doc/format/format.log
doc/format/format.out
doc/format/format.toc
